<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2>All Codes</h2>

    <% if (codes.length > 0) { %>
      <% codes.forEach(eachcode => { %>
        <a class="single" href="/codes/<%= eachcode.id %>">
          <h3 class="title"><%= eachcode.name %></h3>
          <p class="snippet"><%= eachcode.topic%></p>
        </a>
      <% }) %>
    <% } else { %>
      <p>There are no codes to display...</p>
    <% } %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>